<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite Test Calculator App Mobile">
    <parameter name="url" value="http://127.0.0.1:4723"/>
    <parameter name="deviceName" value="Y33T"/>
    <test name="Skorlife App Test">
        <classes>
            <class name="com.skorlife.Hook"/>
            <class name="com.skorlife.LoginFlowTest" />
            <class name="com.skorlife.DashboardTest"/>
            <class name="com.skorlife.PinjamanTest"/>
            <class name="com.skorlife.ProfileScreenTest"/>
            <class name="com.skorlife.ExtentReports" />
        </classes>
    </test>
</suite>